<ion-app>
  
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Devmaster</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/auth/login">Login</ion-button>
        <ion-button routerLink="/auth/register">Register</ion-button>
        <ion-button routerLink="/dashboard">Dashboard</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
</ion-app>
